
body{
    font-family: 'Merriweather', serif;
    width: 90%;
    margin: 0 auto;
}


/* ----------nav home----------- */
nav{
    display: flex;
    justify-content: space-around;
}

.hamburg{
    display: none;
}

.home{
    list-style: none;
    display: flex;
    gap: 10px;
}

@media screen and (max-width:576px) {
    .hamburg{
        display: block;
      
    }
    .ul{
        display: none;
      
    }
}



/* --------------banner section----- */

.banner{
    margin-top: 30px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 600px;
    border-radius: 10px;
    color: white;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
      
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 8px;
    opacity: .9;
   
}
.box input{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;    
    
}

.btn{
    background-color: deeppink; 
    height: 40px; 
    width: 150px;
    border-radius: 8px; 
    display:flex; 
    align-items: center; 
    justify-content: center;
}

@media screen and (max-width:576px) {
    .box{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}
@media screen and (max-width:576px) {
    .box input{
        
        width: 90%;
        height: 70px;
        font-size: 30px;
    }
}
@media screen and (max-width:576px) {
    .btn{
        
        width: 90%;
        height: 70px;
    }
}




/* ----------------------Our Popular Tours--------- */

.our{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.our1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.read-btn{
    background-color: deeppink; 
    height: 40px; 
    width: 150px;
    border-radius: 8px; 
    display:flex; 
    align-items: center; 
    justify-content: center;
    border: none;
    color: white;

}

@media screen and (max-width:576px) {
    .our{
        
       display: flex;
       flex-direction: column;
}

}




/* --------------choose your--- */

.img-container{
    position: relative;
    width: 100%;
}

.img-container img{
    width: 100%;
    height: 300px;
}

.text-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.do-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.do-grid1, .do-grid2{
    grid-column: span 2;
}
.do-grid4{
    grid-column: span 2;
}

.do-grid7{
    grid-column: span 3;
}


@media screen and (max-width:576px) {
    .do-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .do-grid1, .do-grid2, .do-grid4, .do-grid7{
        grid-column: span 1;
    }

}




/* --------------why-------- */

.why1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.why2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    
}


@media screen and (max-width:576px) {
    .why1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    

}


/* ----------newslatter--------- */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* .pocha-pic{
    position: relative;
    width: 100%;
}

.pocha-pic img{
    width: 100%;
    
} */

.pocha{
    background-color: coral;
    border-radius: 5px;
    height: 100px;
    width: 200px;
    color: white;
    transform: rotate(-30deg);
    position: absolute;
    margin-left:280px;
    margin-top: -150px;
    
    
    


}


@media screen and (max-width:576px) {
    .newsletter{
        display: flex;
        flex-direction: column;
        
        
    }

    

}


/* --------foot */

.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



