body{
    font-family: 'Merriweather', serif;
    width: 90%;
    margin: auto;
}


/* ----------nav home----------- */

.home{
    list-style: none;
    display: flex;
    gap: 10px;
}



/* --------------banner section----- */

.banner{
    margin-top: 30px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 600px;
    border-radius: 10px;
    color: white;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
      
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 8px;
    opacity: .9;
   
}
.box input{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;    
    
}

.btn{
    background-color: deeppink; 
    height: 40px; 
    width: 150px;
    border-radius: 8px; 
    display:flex; 
    align-items: center; 
    justify-content: center;
}

@media screen and (max-width:576px) {
    .box{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}
@media screen and (max-width:576px) {
    .box input{
        
        width: 90%;
        height: 70px;
        font-size: 30px;
    }
}
@media screen and (max-width:576px) {
    .btn{
        
        width: 90%;
        height: 70px;
    }
}